
@model IEnumerable<Album>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="row">
    @foreach (var item in Model)
                {

                    //Byte data for both music and photos
                    string imgMusic = string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.AlbumPicture.PictureOne));

            // string audio = string.Format("data:audio/mpeg;base64,{0}", Convert.ToBase64String(Model.MusicData.MusicDatas));
            <div class="large-6 columns">
                <img class="thumbnail" src="@imgMusic" height="350" width="789">
                <div style="color:#ffffff">
                    <div style="font-size:larger">
                        <p>Album Name: @item.AlbumName </p>
                        <p>By @item.Artist.ArtistName</p>
                    </div>
                </div>
            </div>
                                        }

</div>

