<div>
    <ul class="menu">
        <li><a asp-action="CreateArtist">Artist</a></li>
        <li><a asp-action="CreateAlbum">Album</a></li>
        <li><a asp-action="CreateSong">Song</a></li>
    </ul>
</div>