<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link rel="stylesheet" asp-href-include="/lib/node_modules/foundation-sites/dist/**/*.min.css" asp-href-exclude="**/*-reboot*,**/*-grid*" />
        <link rel="stylesheet" href="~/css/site.css?v=2" />


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.core.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.dropdown.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.dropdownMenu.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.util.keyboard.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.util.box.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/plugins/foundation.util.triggers.js" defer></script>
        <script src="~/js/site.js?v=1" defer></script>


        @*<script src="~/lib/node_modules/foundation-sites/js/foundation.core.js"></script>
        <script src="~/lib/node_modules/foundation-sites/js/foundation.dropdown.js"></script>
        <script src="~/lib/node_modules/foundation-sites/js/foundation.util.keyboard.js"></script>
        <script src="~/lib/node_modules/foundation-sites/js/foundation.util.box.js"></script>
        <script src="~/lib/node_modules/foundation-sites/js/foundation.util.triggers.js"></script>*@
    </environment>
    <title>MusicApi</title>
</head>
<body>
    <nav class="">
        <ul class="menu dropdown" data-dropdown-menu style="float:left">
            <li><a href="#">Home</a></li>
            <li>
                <a href="#">Browse</a>
                <ul class="menu">
                    <li><a href="#">Genres</a></li>
                    <li><a href="#">Artists</a></li>
                    <li><a href="#">Albums</a></li>
                    <li><a href="#">Songs</a></li>
                    <li><a href="#">Playlists</a></li>
                </ul>
            </li>
        </ul>
        <form>
            <div class="row">
                <div class="medium-3 columns">
                    <label class="navlabel">
                        Username
                        <input type="text" placeholder="Username" aria-label="Username" name="username">
                    </label>
                </div>
                <div class="medium-3 columns">
                    <label class="navlabel">
                        Password
                        <input type="password" placeholder="Password" aria-label="Password" name="password">
                    </label>
                </div>
                <div class="navlabel">
                    <button id="btnlogin" type="submit" name="loginSubmit">Login</button>
                </div>
            </div>
                
                
                
        </form>
    </nav>
    @RenderBody()
    <footer>
        <p>Website developed by Edwin Kaburu, Patrick Mayer, and Kevin Stewart</p>
        <p>Use of any 3rd party content on this site is for demonstration purposes only.</p>
    </footer>
</body>

</html>